---
export interface Props {
  id: string;
  shader: string;
  resolutionScale?: number;
  imageUrl?: string;
}

const {
  id,
  shader,
  resolutionScale: resolutionScale = 1,
  imageUrl,
} = Astro.props;

const usesPrimaryColourBackground = shader === "backdrop";
---

<div
  class:list={["shader-backdrop", usesPrimaryColourBackground && "primary"]}
  id={`backdrop-${id}`}
  data-id={id}
  data-image-url={imageUrl}
  data-shader={shader}
  data-resolution-scale={JSON.stringify(resolutionScale)}
  style={{ "--resolution-scale": resolutionScale }}
>
  <canvas class="shader-backdrop-canvas"></canvas>
</div>

<style>
  .shader-backdrop,
  .shader-backdrop-canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: calc(100% * var(--resolution-scale, 1));
    width: calc(100% * var(--resolution-scale, 1));
    transform-origin: top left;
    scale: calc(1 / var(--resolution-scale, 1));
  }

  .primary {
    background-color: var(--color-background-primary);
  }
</style>

<script>
  import type { ShaderOptions } from "../../lib/shaders/types";

  document
    .querySelectorAll<HTMLDivElement>(".shader-backdrop")
    .forEach((backdropArea) => {
      const canvas = backdropArea.querySelector<HTMLCanvasElement>(
        "canvas.shader-backdrop-canvas",
      );

      if (!canvas) {
        return;
      }

      const rawScale = backdropArea.dataset.resolutionScale;
      const options: ShaderOptions = {
        id: backdropArea.dataset.id!,
        imageUrl: backdropArea.dataset.imageUrl,
        resolutionScale: rawScale ? parseFloat(rawScale) : 1,
      };

      switch (backdropArea.dataset.shader) {
        case "rainbow-bg":
          import("../../lib/shaders/rainbow-bg").then(
            ({ setupRainbowBgShader }) => setupRainbowBgShader(canvas),
          );
          break;
        case "tunic":
          import("../../lib/shaders/tunic").then(({ setupTunicShader }) =>
            setupTunicShader(canvas),
          );
          break;
        default:
          import("../../lib/shaders/backdrop").then(({ setupBackdropShader }) =>
            setupBackdropShader(canvas, options),
          );
          break;
      }
    });
</script>
