---
import type { CalloutBlockObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import RichText from "../common/RichText.astro";
import Icon from "../common/NotionIcon.astro";

export interface Props {
  block: CalloutBlockObjectResponse;
}

const { block } = Astro.props;
---

<div
  class={`block-callout block-callout-${block.callout.color}`}
  data-block={block.id}
>
  <div>
    {
      block.callout.icon && (
        <Icon
          id={`${block.id}_icon`}
          class="block-callout-icon"
          icon={block.callout.icon}
        />
      )
    }
  </div>
  <div class="flow">
    <p>
      <RichText components={block.callout.rich_text} />
    </p>
    <slot />
  </div>
</div>

<style>
  .block-callout {
    display: flex;
    gap: 0.5em;
    padding: 0.5em;
    border: 1.5px solid var(--color-border);
    border-radius: var(--border-radius);
  }

  .block-callout-icon {
    font-size: 1em;
    width: 1.5em;
    height: 1.5em;
  }
</style>
