---
import type { ToDoBlockObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import { CheckSquareIcon, SquareIcon } from "lucide-react";
import RichText from "../common/RichText.astro";

export interface Props {
  block: ToDoBlockObjectResponse;
}

const { block } = Astro.props;
---

<li class="flow tiny-flow todo-item" data-block={block.id}>
  {
    block.to_do.checked ? (
      <CheckSquareIcon className="todo-item-icon" aria-label="" />
    ) : (
      <SquareIcon className="todo-item-icon" aria-label="" />
    )
  }
  <p>
    <input
      class="visually-hidden"
      id={`todo-${block.id}`}
      type="checkbox"
      value={block.id}
      checked={block.to_do.checked}
      disabled
      readonly
    />
    <label id={`todo-${block.id}-label`} for={`todo-${block.id}`}>
      {""}<RichText components={block.to_do.rich_text} />
    </label>
  </p>
  <slot />
</li>
