---
import LocalImage from "./Images/LocalImage.astro";
---

<div class="goose-container">
  <button
    id="the-goose-button"
    class="goose-button"
    aria-label="Goose"
    data-umami-event="goose"
  >
    <LocalImage
      id="footer-goose"
      resourcePath="goose.png"
      class="goose-image"
      alt="Goose"
      widths={[48]}
      sizes="48px"
      loading="lazy"
    />
  </button>
</div>

<style>
  .goose-container {
    position: relative;
  }

  .goose-button {
    position: relative;
    height: 48px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    filter: drop-shadow(0 0 0.1rem #00000022);
  }

  .goose-image {
    width: 48px;
    height: 48px;
    transition:
      scale 100ms ease-out,
      rotate 100ms ease-out;
  }

  .goose-button:is(:hover, :focus-within) .goose-image {
    scale: 1.1;
    rotate: var(--goose-hover-rotate, 0deg);
  }

  .goose-container :global(.goose-heart) {
    position: absolute;
    top: -4em;
    padding: 0.2em;
    border-radius: 0.2em;
    overflow: hidden;

    animation-duration: 2s;
    animation-name: GooseHeartIn;
    animation-delay: 0.1s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }
  .goose-container :global(.goose-heart.goose-heart-exit) {
    animation-duration: 0.2s;
    animation-name: GooseHeartOut;
  }

  @keyframes GooseHeartIn {
    0% {
      opacity: 0;
      top: -1em;
    }
    25% {
      opacity: 1;
    }
    100% {
      top: -4em;
    }
  }

  @keyframes GooseHeartOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
</style>

<script>
  const TOOLTIP_TIMEOUT = 3000;
  const TRANSITION_DURATION = 200;
  const SCALE_SCALE = 100;
  const HEARTS = ["❤️", "🧡", "💛", "💚", "💙", "💜"];
  const NOTES = ["🎵", "🎶", "🎼"];
  const GOOSE_CRAZINESS = 15;

  const counter = { current: 0, count: 0 };

  function delay(ms: number) {
    return new Promise<void>((res) => {
      setTimeout(() => res(), ms);
    });
  }

  function createHeart(index: number, count: number) {
    const heart = document.createElement("div");
    heart.classList.add("goose-heart");
    heart.textContent = HEARTS[index]!;
    heart.ariaHidden = "true";

    const translateX = Math.floor(Math.random() * 100);
    const translateY = Math.floor(Math.random() * 10);
    heart.style.left = `${translateX}%`;
    heart.style.transform = `translateX(-${translateX}%) translateY(${translateY}px) scale(${
      (count + SCALE_SCALE) / SCALE_SCALE
    })`;

    return heart;
  }

  function createNote(index: number, count: number) {
    const heart = document.createElement("a");
    heart.href = "https://goose.sthom.kiwi";
    heart.rel = "external";
    heart.classList.add("goose-heart", "umami--click--goose-note");
    heart.textContent = NOTES[index]!;
    heart.ariaHidden = "true";

    const translateX = Math.floor(Math.random() * 100);
    const translateY = Math.floor(Math.random() * 10);
    heart.style.left = `${translateX}%`;
    heart.style.transform = `translateX(-${translateX}%) translateY(${translateY}px) scale(${
      (count + SCALE_SCALE) / SCALE_SCALE
    })`;

    return heart;
  }

  async function addHeart(container: HTMLElement) {
    // The hearts are looped over backwards. Why didn't I just reverse the array?
    // ¯\_(ツ)_/¯
    counter.current = (counter.current - 1 + HEARTS.length) % HEARTS.length;
    // eslint-disable-next-line no-plusplus
    counter.count++;

    let child: Element;
    if (counter.count % 10 === 0) {
      child = createNote(counter.count % NOTES.length, counter.count);
    } else {
      child = createHeart(counter.current, counter.count);
    }

    container.appendChild(child);

    await delay(TOOLTIP_TIMEOUT);
    child.classList.add("goose-heart-exit");

    await delay(TRANSITION_DURATION);
    container.removeChild(child);
  }

  document
    .querySelectorAll<HTMLDivElement>(".goose-container")
    .forEach((container) => {
      const button = container.querySelector<HTMLButtonElement>(
        "button.goose-button",
      )!;
      function setGooseRotation() {
        const numDegrees =
          Math.floor((Math.random() - 0.5) * 2 * GOOSE_CRAZINESS * 100) / 100;
        button.style.setProperty(
          "--goose-hover-rotate",
          `${numDegrees.toString(10)}deg`,
        );
      }

      button.addEventListener("click", () => {
        setGooseRotation();
        addHeart(container);
      });
    });
</script>
