---
import type { IconType, MaskType } from "./react/SvgMask/index.tsx";

export interface PageMetaType {
  title: string;
  description?: string;
  url: string;
  imageUrl?: string;
  rssUrl?: string;
  header?: {
    seed: string;
    maskType: MaskType;
    iconType: IconType;
  };
}

export interface Props {
  meta: PageMetaType;
}

const { meta } = Astro.props;
const { title, description, url, imageUrl, rssUrl } = meta;

const canonicalURL = new URL(url, Astro.site);
const sitemapURL = new URL("/sitemap.xml", Astro.site);
---

<meta property="og:type" content="website" />
<meta property="og:site_name" content="Stuart Thomson" />

<title>{title}</title>
<meta property="og:title" content={title} />
<meta name="twitter:title" content={title} />

<link rel="canonical" href={canonicalURL} />
<meta property="og:url" content={canonicalURL} />
<meta property="twitter:url" content={canonicalURL} />

{
  description && (
    <>
      <meta name="description" content={description} />
      <meta property="og:description" content={description} />
      <meta name="twitter:description" content={description} />
    </>
  )
}

{
  imageUrl ? (
    <>
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:image" content={imageUrl} />
      <meta property="og:image" content={imageUrl} />
    </>
  ) : (
    <meta name="twitter:card" content="summary" />
  )
}

{
  rssUrl && (
    <link
      rel="alternate"
      type="application/rss+xml"
      href={rssUrl}
      title="Stuart Thomson"
    />
  )
}

<link rel="manifest" href="/manifest.json" />
<link rel="sitemap" href={sitemapURL} />

<link rel="shortcut icon" href="/favicon.ico" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/static/icons/apple-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="96x96"
  href="/static/icons/favicon-96x96.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/static/icons/favicon-32x32.png"
/>
<link type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png" />
