---
import { SiGithub } from "@icons-pack/react-simple-icons";
import type { RichTextItemResponse } from "@notionhq/client/build/src/api-endpoints";
import { ExternalLinkIcon } from "lucide-react";
import type { PageInfo } from "../../../../integrations/notion-loader/api";
import { getBlockChildren } from "../../../../integrations/notion-loader/util";
import { getPageTitleComponents } from "../../../../lib/notion/titles";
import { richTextToUnformattedString } from "../../../../lib/notion/util";
import NotionRenderer from "../../blocks/NotionRenderer.astro";
import NotionBackdrop from "../../common/NotionBackdrop.astro";
import RichText from "../../common/RichText.astro";

export interface Props {
  data: PageInfo<{ URL: string | null; GitHub: RichTextItemResponse[] }>;
  widths: number[];
  sizes: string;
  class?: string;
  showImage?: boolean;
  showTitle?: boolean;
  showGitHub?: boolean;
  showChildren?: boolean;
}

const {
  data,
  widths,
  sizes,
  class: className,
  showImage,
  showTitle,
  showGitHub,
  showChildren,
} = Astro.props;

const { page, blockMap } = data;
const children = getBlockChildren(page.id, blockMap);
const titleComponents = getPageTitleComponents(data.page);

const url = data.properties.URL;
const github = data.properties.GitHub;
const githubFragment =
  github && (richTextToUnformattedString(github) || undefined);
---

<div
  data-block={page.id}
  class:list={["projects-item", "small-box", className]}
>
  {
    showImage && (
      <div class="projects-item-image">
        <NotionBackdrop page={page} widths={widths} sizes={sizes} />
      </div>
    )
  }
  <div class="flow">
    <h3 class={showTitle ? "" : "visually-hidden"}>
      {
        url ? (
          <a href={url} rel="external noreferrer">
            <RichText components={titleComponents} />
          </a>
        ) : (
          <RichText components={titleComponents} />
        )
      }
    </h3>

    {
      showGitHub && githubFragment !== undefined && (
        <ul class="icon-links-list">
          {url && (
            <li>
              <a href={url} rel="external noreferrer" target="_blank">
                <ExternalLinkIcon>
                  <title>Open in new tab</title>
                </ExternalLinkIcon>
              </a>
            </li>
          )}
          <li>
            <a
              href={`https://github.com/${githubFragment}`}
              rel="enternal noreferrer"
            >
              <SiGithub title={`${githubFragment} on GitHub`} />
            </a>
          </li>
        </ul>
      )
    }
    {showChildren && <NotionRenderer blocks={children} blockMap={blockMap} />}
  </div>
</div>

<style>
  .projects-item-image {
    margin: calc(var(--small-box-spacing) * -1);
    margin-block-end: var(--small-box-spacing);
    aspect-ratio: 2/1;
  }

  .icon-links-list {
    display: flex;
    gap: var(--spacing);
  }
</style>
