---
import { SiGithub } from "@icons-pack/react-simple-icons";
import type { DatabaseObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import { ExternalLinkIcon } from "lucide-react";
import { getBlockChildren } from "../../../../lib/notion/caches";
import { getPageTitleComponents } from "../../../../lib/notion/titles";
import {
  getPagePropertyByName,
  richTextToUnformattedString,
} from "../../../../lib/notion/util";
import NotionRenderer from "../../blocks/NotionRenderer.astro";
import type { NotionOverrideableProps } from "../../blocks/types";
import NotionBackdrop from "../../common/NotionBackdrop.astro";
import RichText from "../../common/RichText.astro";

export interface Props extends NotionOverrideableProps {
  page: DatabaseObjectResponse;
  widths: number[];
  sizes: string;
  class?: string;
  showImage?: boolean;
  showTitle?: boolean;
  showGitHub?: boolean;
  showChildren?: boolean;
}

const {
  page,
  widths,
  sizes,
  overrides,
  class: className,
  showImage,
  showTitle,
  showGitHub,
  showChildren,
} = Astro.props;

const children = showChildren ? await getBlockChildren(page.id) : [];

const titleComponents = getPageTitleComponents(page);

const url = getPagePropertyByName(page, "URL", "url");
const github = getPagePropertyByName(page, "GitHub", "rich_text");
const githubFragment =
  github && (richTextToUnformattedString(github.rich_text) || undefined);
---

<div
  data-block={page.id}
  class:list={["projects-item", "small-box", className]}
>
  {
    showImage && (
      <div class="projects-item-image">
        <NotionBackdrop page={page} widths={widths} sizes={sizes} />
      </div>
    )
  }
  <div class="flow">
    <h3 class={showTitle ? "" : "visually-hidden"}>
      {
        url && url.url ? (
          <a href={url.url} rel="external noreferrer">
            <RichText components={titleComponents} />
          </a>
        ) : (
          <RichText components={titleComponents} />
        )
      }
    </h3>

    {
      showGitHub && githubFragment !== undefined && (
        <ul class="icon-links-list">
          {url && url.url && (
            <li>
              <a href={url.url} rel="external noreferrer" target="_blank">
                <ExternalLinkIcon>
                  <title>Open in new tab</title>
                </ExternalLinkIcon>
              </a>
            </li>
          )}
          <li>
            <a
              href={`https://github.com/${githubFragment}`}
              rel="enternal noreferrer"
            >
              <SiGithub title={`${githubFragment} on GitHub`} />
            </a>
          </li>
        </ul>
      )
    }
    {showChildren && <NotionRenderer blocks={children} overrides={overrides} />}
  </div>
</div>

<style>
  .projects-item-image {
    margin: calc(var(--small-box-spacing) * -1);
    margin-block-end: var(--small-box-spacing);
    aspect-ratio: 2/1;
  }

  .icon-links-list {
    display: flex;
    gap: var(--spacing);
  }
</style>
