---
import type { DatabaseObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import { GithubIcon, ExternalLinkIcon } from "lucide-react";
import {
  getBlockChildren,
  getPageTitleComponents,
} from "../../../../lib/notion";
import {
  getPagePropertyByName,
  richTextToUnformattedString,
} from "../../../../lib/notion/util";
import DefaultPageBackdrop from "../../../site/DefaultPageBackdrop.astro";
import NotionRenderer from "../../blocks/NotionRenderer.astro";
import type { NotionOverrideableProps } from "../../blocks/types";
import NotionImage from "../../common/NotionImage.astro";
import RichText from "../../common/RichText.astro";

export interface Props extends NotionOverrideableProps {
  page: DatabaseObjectResponse;
}

const { page, overrides } = Astro.props;

const children = await getBlockChildren(page.id);

const titleComponents = getPageTitleComponents(page);

const url = getPagePropertyByName(page, "URL", "url");
const github = getPagePropertyByName(page, "GitHub", "rich_text");
const githubFragment =
  github && (richTextToUnformattedString(github.rich_text) || undefined);
---

<div data-block={page.id} class="projects-item">
  <div>
    {
      page.cover ? (
        <NotionImage
          id={`${page.id}-cover`}
          image={page.cover}
          alt=""
          class="header-backdrop header-backdrop-image"
        />
      ) : (
        <DefaultPageBackdrop class="header-backdrop" />
      )
    }
  </div>
  <div class="flow">
    <h3>
      {
        url && url.url ? (
          <a href={url.url} rel="external noreferrer">
            <>
              <RichText components={titleComponents} />
              <ExternalLinkIcon className="external-icon" />
            </>
          </a>
        ) : (
          <RichText components={titleComponents} />
        )
      }
    </h3>
    {
      githubFragment !== undefined && (
        <div>
          <a
            href={`https://github.com/${githubFragment}`}
            rel="enternal noreferrer"
          >
            <GithubIcon>
              <title>{githubFragment} on GitHub</title>
            </GithubIcon>
          </a>
        </div>
      )
    }
    <div></div>
    <NotionRenderer blocks={children} overrides={overrides} />
  </div>
</div>

<style>
  .projects-item {
    border: 1.5px solid var(--color-border);
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  .flow {
    padding: var(--spacing);
  }

  .external-icon {
    padding-inline-start: var(--spacing-half);
  }
</style>
