---
import type { DatabaseObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import { GithubIcon } from "lucide-react";
import { getBlockChildren } from "../../../../lib/notion/caches";
import { getPageTitleComponents } from "../../../../lib/notion/titles";
import {
  getPagePropertyByName,
  richTextToUnformattedString,
} from "../../../../lib/notion/util";
import NotionRenderer from "../../blocks/NotionRenderer.astro";
import type { NotionOverrideableProps } from "../../blocks/types";
import NotionBackdrop from "../../common/NotionBackdrop.astro";
import RichText from "../../common/RichText.astro";

export interface Props extends NotionOverrideableProps {
  page: DatabaseObjectResponse;
  class?: string;
  showImage?: boolean;
  showTitle?: boolean;
  showGitHub?: boolean;
  showChildren?: boolean;
}

const {
  page,
  overrides,
  class: className,
  showImage,
  showTitle,
  showGitHub,
  showChildren,
} = Astro.props;

const children = showChildren ? await getBlockChildren(page.id) : [];

const titleComponents = getPageTitleComponents(page);

const url = getPagePropertyByName(page, "URL", "url");
const github = getPagePropertyByName(page, "GitHub", "rich_text");
const githubFragment =
  github && (richTextToUnformattedString(github.rich_text) || undefined);
---

<div data-block={page.id} class:list={["projects-item", className]}>
  {
    showImage && (
      <div>
        <NotionBackdrop page={page} sizes="(min-width: 600px) 360px, 100vw" />
      </div>
    )
  }
  <div class="flow">
    {
      showTitle && (
        <h3>
          {url && url.url ? (
            <a href={url.url} rel="external noreferrer">
              <RichText components={titleComponents} />
            </a>
          ) : (
            <RichText components={titleComponents} />
          )}
        </h3>
      )
    }
    {
      showGitHub && githubFragment !== undefined && (
        <div>
          <a
            href={`https://github.com/${githubFragment}`}
            rel="enternal noreferrer"
          >
            <GithubIcon>
              <title>{githubFragment} on GitHub</title>
            </GithubIcon>
          </a>
        </div>
      )
    }
    <div></div>
    {showChildren && <NotionRenderer blocks={children} overrides={overrides} />}
  </div>
</div>

<style>
  .projects-item {
    border: 1.5px solid var(--color-border);
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  .flow {
    padding: var(--spacing);
  }

  .external-icon {
    padding-inline-start: var(--spacing-half);
  }
</style>
