---
import type {
  DatabaseObjectResponse,
  PageObjectResponse,
} from "@notionhq/client/build/src/api-endpoints";
import clsx from "clsx";
import { getNotionImageInfo } from "../../../lib/notion/image";
import Picture from "../../Images/Picture.astro";
import DefaultPageBackdrop from "../../site/DefaultPageBackdrop.astro";
import ShaderBackdrop from "../../site/ShaderBackdrop.astro";

export interface Props {
  page: DatabaseObjectResponse | PageObjectResponse;
  shader?: { enabled: boolean };
  widths: number[];
  densities: number[];
  noIntrinsicWidth?: boolean;
  sizes?: string;
  class?: string;
  shouldBlur?: boolean;
}

const {
  page,
  shader,
  widths,
  densities,
  noIntrinsicWidth,
  sizes = "100vw",
  class: className,
  shouldBlur,
} = Astro.props;

const imageClasses = clsx(className, "notion-backdrop-image");

const imageInfo = page.cover
  ? await getNotionImageInfo(`${page.id}_cover`, widths, densities)
  : undefined;
---

<div
  class:list={[
    "notion-backdrop",
    shouldBlur &&
      (imageInfo ? "dark-blur" : shader?.enabled ? "blur-only" : undefined),
  ]}
>
  {
    imageInfo ? (
      <Picture
        imageInfo={imageInfo}
        alt=""
        class={imageClasses}
        noIntrinsicWidth={noIntrinsicWidth}
        sizes={sizes}
        loading="eager"
      />
    ) : (
      <DefaultPageBackdrop class={className} />
    )
  }
  {
    shader?.enabled && (
      <ShaderBackdrop
        id={page.id}
        imageUrl={imageInfo?.formats[0]?.sizes[0]?.path}
        resolutionScale={0.7}
      />
    )
  }
</div>

<style>
  .dark-blur {
    filter: brightness(40%) saturate(80%) blur(5px);
    scale: 1.1;
  }
  .blur-only {
    filter: blur(5px);
    scale: 1.1;
  }
</style>
