---
import type { RichTextItemResponse } from "@notionhq/client/build/src/api-endpoints";
import { getBlock, getInfoForPage } from "../../../lib/notion/caches";
import {
  normalizeTitle,
  richTextToUnformattedString,
} from "../../../lib/notion/util";

export interface Props {
  components: RichTextItemResponse[];
}

const { components } = Astro.props;

const componentsWithResolvedLinks = await Promise.all(
  components.map<Promise<RichTextItemResponse>>(async (component) => {
    if (component.type !== "text") {
      return component;
    }
    if (!component.text.link) {
      return component;
    }

    // Links to other pages/blocks in Notion are always of the form `/<pageid>[#<blockid>]`, where
    // the IDs are lower dase without hyphens
    const notionIdsMatch = component.text.link.url.match(
      /^\/([0-9a-f]{32})(?:#([0-9a-f]{32}))$/,
    );
    if (!notionIdsMatch) {
      return component;
    }

    // We have a UUID-like URL it seems, so let's grab the page and the block (if there's a fragment)
    const [, pageId, blockId] = notionIdsMatch;

    const info = await getInfoForPage(pageId);

    let hash = "";

    if (blockId) {
      const block = await getBlock(blockId);
      let title: string | undefined;
      switch (block.type) {
        case "heading_1":
          title = richTextToUnformattedString(block.heading_1.rich_text);
          break;
        case "heading_2":
          title = richTextToUnformattedString(block.heading_2.rich_text);
          break;
        case "heading_3":
          title = richTextToUnformattedString(block.heading_3.rich_text);
          break;
        default:
      }

      if (title) {
        hash = normalizeTitle(title);
      }
    }

    const href = `${info.path}${hash ? `#${hash}` : ""}`;

    return {
      ...component,
      text: {
        ...component.text,
        link: {
          url: href,
        },
      },
    };
  }),
);
---

{
  componentsWithResolvedLinks.map((component) => {
    const classes: string[] = [];

    if (component.annotations.bold) {
      classes.push("text-bold");
    }
    if (component.annotations.italic) {
      classes.push("text-italic");
    }
    if (component.annotations.strikethrough) {
      classes.push("text-strikethrough");
    }
    if (component.annotations.underline) {
      classes.push("text-underline");
    }
    if (component.annotations.code) {
      classes.push("text-code");
    }
    if (
      component.annotations.color &&
      component.annotations.color !== "default"
    ) {
      classes.push(`text-color-${component.annotations.color}`);
    }

    switch (component.type) {
      case "text":
        if (component.text.link) {
          return (
            <a href={component.text.link.url} class:list={classes}>
              {component.text.content}
            </a>
          );
        }
        return <span class:list={classes}>{component.text.content}</span>;
      case "mention":
        // TODO: Different types of mention
        return <span class:list={classes}>{component.plain_text}</span>;
      case "equation":
        // TODO: Render maths
        return (
          <span class:list={classes}>{component.equation.expression}</span>
        );
      default:
        return (
          <span class:list={classes}>
            {(component as RichTextItemResponse).plain_text}
          </span>
        );
    }
  })
}

<style>
  .text-bold {
    font-weight: bold;
  }

  .text-italic {
    font-style: italic;
  }

  .text-strikethrough {
    text-decoration: line-through;
  }

  .text-underline {
    text-decoration: underline;
  }

  .text-code {
    padding: 0.2em 0.1em 0em 0.1em;
    background-color: var(--color-background-secondary);
    border-radius: var(--border-radius);
    font-size: 0.9em;
  }
</style>
