---
import type {
  DatabaseObjectResponse,
  PageObjectResponse,
} from "@notionhq/client/build/src/api-endpoints";
import DevOnly from "../components/DevOnly.astro";
import type { PageMetaType } from "../components/PageMeta.astro";
import type { LinkInfo } from "../components/SiteHeader.astro";
import SkipLinks from "../components/SkipLinks.astro";
import NotionPageHeader from "../components/notion/NotionPageHeader.astro";
import NotionImage from "../components/notion/common/NotionImage.astro";
import DefaultPageBackdrop from "../components/site/DefaultPageBackdrop.astro";
import PageWithHeaderLayout from "./PageWithHeaderLayout.astro";

export interface Props {
  page: DatabaseObjectResponse | PageObjectResponse;
  meta: PageMetaType;
  breadcrumbs?: LinkInfo[];
}

const { page, meta, breadcrumbs } = Astro.props;
---

<PageWithHeaderLayout meta={meta} breadcrumbs={breadcrumbs}>
  <SkipLinks links={[{ name: "Content", url: "#content" }]} slot="skip-links" />

  <NotionPageHeader page={page} slot="page-header" />
  <div class="header-backdrop" slot="page-backdrop">
    {
      page.cover ? (
        <NotionImage
          id={`${page.id}-cover`}
          image={page.cover}
          alt=""
          class="header-backdrop-image"
        />
      ) : (
        <DefaultPageBackdrop />
      )
    }
  </div>

  <DevOnly>
    <div id="DEV-notion-page-id" style={{ display: "none" }}>{page.id}</div>
  </DevOnly>
  <article class="flow">
    <div id="content"></div>
    <slot />
  </article>

  <slot name="page-footer" />
</PageWithHeaderLayout>

<style>
  .header-backdrop::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 0.5);
  }

  .header-backdrop-image {
    position: relative;
    height: 100%;
  }

  .header-backdrop-image > :global(img) {
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
</style>
