---
import type {
  DatabaseObjectResponse,
  PageObjectResponse,
} from "@notionhq/client/build/src/api-endpoints";
import DevOnly from "../components/DevOnly.astro";
import type { PageMetaType } from "../components/PageMeta.astro";
import type { LinkInfo } from "../components/SiteHeader.astro";
import SkipLinks from "../components/SkipLinks.astro";
import NotionPageHeader from "../components/notion/NotionPageHeader.astro";
import NotionBackdrop from "../components/notion/common/NotionBackdrop.astro";
import PageWithHeaderLayout from "./PageWithHeaderLayout.astro";

export interface Props {
  page: DatabaseObjectResponse | PageObjectResponse;
  meta: PageMetaType;
  breadcrumbs?: LinkInfo[];
  showCoverSource?: boolean;
  showReadingTime?: boolean;
  showPublishEditDates?: boolean;
}

const {
  page,
  meta,
  breadcrumbs,
  showCoverSource,
  showReadingTime,
  showPublishEditDates,
} = Astro.props;
---

<PageWithHeaderLayout id={page.id} meta={meta} breadcrumbs={breadcrumbs}>
  <SkipLinks links={[{ name: "Content", url: "#content" }]} slot="skip-links" />

  <NotionPageHeader
    page={page}
    slot="page-header"
    showCoverSource={showCoverSource}
    showReadingTime={showReadingTime}
    showPublishEditDates={showPublishEditDates}
  />
  <NotionBackdrop page={page} shade slot="page-backdrop" />

  <DevOnly>
    <div id="DEV-notion-page-id" style={{ display: "none" }}>{page.id}</div>
  </DevOnly>
  <article class="flow" id="content">
    <slot />
  </article>

  <slot name="page-footer" />
</PageWithHeaderLayout>

<style></style>
