---
import type {
  DatabaseObjectResponse,
  PageObjectResponse,
} from "@notionhq/client/build/src/api-endpoints";
import DevOnly from "../components/DevOnly.astro";
import type { PageMetaType } from "../components/PageMeta.astro";
import type { LinkInfo } from "../components/SiteHeader.astro";
import SkipLinks from "../components/SkipLinks.astro";
import NotionPageHeader from "../components/notion/NotionPageHeader.astro";
import NotionBackdrop from "../components/notion/common/NotionBackdrop.astro";
import PageWithHeaderLayout from "./PageWithHeaderLayout.astro";
import { getPagePropertyByName } from "../lib/notion/util";
import { PageViewUnlock } from "../components/react/StickerBook/unlocks/PageViewUnlock.tsx";
import type { StickerTypes } from "../components/react/StickerBook/types";

export interface Props {
  page: DatabaseObjectResponse | PageObjectResponse;
  meta: PageMetaType;
  breadcrumbs?: LinkInfo[];
  showCoverSource?: boolean;
  showReadingTime?: boolean;
  showPublishEditDates?: boolean;
}

const {
  page,
  meta,
  breadcrumbs,
  showCoverSource,
  showReadingTime,
  showPublishEditDates,
} = Astro.props;

const giveStickersProperty = getPagePropertyByName(
  page,
  "Page View Stickers",
  "select",
);
const specialSticker = giveStickersProperty
  ? (giveStickersProperty.select?.name as StickerTypes | "none" | undefined)
  : "none";
const shouldGiveStickers = specialSticker !== "none";
---

<PageWithHeaderLayout
  id={page.id}
  meta={meta}
  breadcrumbs={breadcrumbs}
  allowPageViewStickerUnlocks={shouldGiveStickers}
>
  <SkipLinks links={[{ name: "Content", url: "#content" }]} slot="skip-links" />

  <NotionPageHeader
    page={page}
    slot="page-header"
    showCoverSource={showCoverSource}
    showReadingTime={showReadingTime}
    showPublishEditDates={showPublishEditDates}
  />
  <NotionBackdrop page={page} shade slot="page-backdrop" />

  <DevOnly>
    <div id="DEV-notion-page-id" style={{ display: "none" }}>{page.id}</div>
  </DevOnly>
  <article class="flow" id="content">
    <slot />
  </article>

  <slot name="page-footer" />

  {
    shouldGiveStickers && (
      <PageViewUnlock
        pageId={page.id}
        specialStickerType={specialSticker}
        client:idle
        client:only="react"
      />
    )
  }
</PageWithHeaderLayout>

<style></style>
